*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "MasonChronicles";
  src: url("../fonts/MasonChronicles.woff") format("woff"),
    url("../fonts/MasonChronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;

  color: #fff;
  background: url("../img/background.jpg") #141218;
  background-repeat: no-repeat;
  background-position: top right 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 90px;
}

.menu-list {
  margin-right: auto;
  margin-left: 68px;
}

.menu-link {
  margin-right: 24px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  transition: color 0.5s ease-out;
}

.menu-link:hover {
  color: rgb(157, 41, 41);
}

/* img {
  fill: currentColor;
} */

.social-link {
  margin-left: 20px;
}

.menu-button {
  display: none;
}

.genre {
  display: block;
  margin-bottom: 16px;
  animation-delay: 0.1s;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation-delay: 0.3s;
}

.rating-stars {
  display: flex;
  align-items: center;
}

.star:not(:last-child) {
  margin-right: 5px;
}

.rating-number {
  margin-left: 9px;
  font-size: 12px;
  line-height: 14px;
}

.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 87px;
}

.main-title {
  font-family: "MasonChronicles", serif;
  font-size: 76px;
  line-height: 89px;
  margin-bottom: 10px;
  animation-delay: 0.5s;
}

.main-description {
  max-width: 458px;
  line-height: 21px;
  margin-bottom: 40px;
  animation-delay: 0.7s;
}

.button {
  display: inline-block;
  padding: 22px 72px;
  color: #ffffff;
  background: #9d2929;
  border-radius: 8px;
  outline: none;
  border: none;
  /* width: 100%; */
  /* max-width: 260px; */
  /* min-height: 60px; */
  animation-delay: 1s;
}

.button:active {
  color: #ffffff;
}

.play {
  display: flex;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #9d2929;
  border: none;
  position: relative;
  justify-content: center;
  align-items: center;
}

.play-img {
  position: relative;
  transform: translateX(5px);
}

.play::before {
  content: "";
  width: 132px;
  height: 132px;
  background: #9d2929;
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  left: -16px;
  top: -16px;
  animation: pulse 1s ease-in-out 2s infinite;
}

.series {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  max-width: 420px;
  position: relative;
}

.series-1 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url("../img/series/series-1.jpg");
}

.series-1:hover {
  background-image: url("../img/series/series-1.jpg");
}

.series-2 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url("../img/series/series-2.jpg");
}

.series-2:hover {
  background-image: url("../img/series/series-2.jpg");
}

.series-3 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url("../img/series/series-3.jpg");
}

.series-3:hover {
  background-image: url("../img/series/series-3.jpg");
}

.series-4 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url("../img/series/series-4.jpg");
}

.series-4:hover {
  background-image: url("../img/series/series-4.jpg");
}

.series-5 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url("../img/series/series-5.jpg");
}

.series-5:hover {
  background-image: url("../img/series/series-5.jpg");
}

.series-6 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url("../img/series/series-6.jpg");
}

.series-6:hover {
  background-image: url("../img/series/series-6.jpg");
}

.series-7 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url("../img/series/series-7.jpg");
}

.series-7:hover {
  background-image: url("../img/series/series-7.jpg");
}

.series-8 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url("../img/series/series-8.jpg");
}

.series-8:hover {
  background-image: url("../img/series/series-8.jpg");
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 13px;

  width: 164px;
  height: 113px;
  border-radius: 8px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.card-subtitle {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.arrow {
  width: 32px;
  height: 23px;
  background: url("../img/arrow.svg") transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  right: -25px;
  z-index: 99;
}

.footer {
  background-color: #141218;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: rgb(255, 255, 255, 0.4);
}

.link-copyright {
  margin-left: 25px;
  color: rgb(255, 255, 255, 0.4);
  transition: color 0.5s ease-out;
}

.link-copyright:hover {
  color: rgb(255, 255, 255);
}